/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a, nav {
  color: #444;
  background-color: #fff;
  height: 90px;
}

p {
  line-height: 2rem;
}

.jeedomcolorbg {
  background-color: #40535E !important;
}

.jeedomcolor {
  color: #40535E !important;
}
.collection a.collection-item {
  color: #40535E !important;
}
h1, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.1;
}
h2 {
  line-height: 0.5;
  color: #888;
}

.waves-effect.waves-jeedom .waves-ripple {
 background-color: rgba(64, 83, 94, 0.65);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
#ul_listPluginThird, #ul_listWiki, #ul_listChat, #ul_listMembers, #ul_listDeveloper{
  background-color: rgba(64, 83, 94, 0.10) !important;
}

.tabs .tab a {
  color: #40535E !important;
}
.tabs .indicator {
  background-color: #40535E !important;
}

.tabs .tab a:hover {
  color: #B0C3CE !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;

}

.card-title {
	display: block;
    margin-left: auto;
    margin-right: auto;
 }

.card-title-2 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px !important;
 }

.card-text {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center !important; 
}

.card-action {
    padding: 5px !important;
}
    

.btn {
    height: 24px !important;
    line-height: 24px;
    padding: 0 0.5rem;
    font-size: 12px !important;
}

.btn-small {
    height: 24px !important;
    line-height: 24px;
    padding: 0 0.5rem;
    font-size: 12px !important;
}

.titre{
line-height: 90px;
padding-left: 90px;
font-size: 18px;
}

.bg-blue {
  background-color: #2196F3 !important;
  color: #fff; }
  .bg-blue .content .text,
  .bg-blue .content .number {
    color: #fff !important; }

    .bg-red {
      background-color: #F44336 !important;
      color: #fff; }
      .bg-red .content .text,
      .bg-red .content .number {
        color: #fff !important; }

        .bg-green {
        /*  background-color: #4CAF50 !important;*/
          color: #fff; }
          .bg-green .content .text,
          .bg-green .content .number {
            color: #fff !important; }
            
.bg-orange {
          background-color: #dfb317 !important;
          color: #fff; }
          .bg-green .content .text,
          .bg-green .content .number {
            color: #fff !important; }

#dfb317

    /* Infobox ===================================== */
    .info-box {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      height: 80px;
      display: flex;
      cursor: default;
      background-color: #fff;
      position: relative;
      overflow: hidden;
      margin-bottom: 30px; }
      .info-box .icon {
        display: inline-block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.12);
        width: 80px; }
        .info-box .icon i {
          color: #fff;
          font-size: 50px;
          line-height: 80px; }
        .info-box .icon .chart.chart-bar {
          height: 100%;
          line-height: 100px; }
          .info-box .icon .chart.chart-bar canvas {
            vertical-align: baseline !important; }
        .info-box .icon .chart.chart-pie {
          height: 100%;
          line-height: 123px; }
          .info-box .icon .chart.chart-pie canvas {
            vertical-align: baseline !important; }
        .info-box .icon .chart.chart-line {
          height: 100%;
          line-height: 115px; }
          .info-box .icon .chart.chart-line canvas {
            vertical-align: baseline !important; }
      .info-box .content {
        display: inline-block;
        padding: 0px 10px; }
        .info-box .content .text {
          font-size: 13px;
          margin-top: 11px;
          color: #555; }
        .info-box .content .number {
          font-weight: normal;
          font-size: 26px;
          margin-top: -4px;
          color: #555; }

    .info-box.hover-zoom-effect .icon {
      overflow: hidden; }
      .info-box.hover-zoom-effect .icon i {
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }

    .info-box.hover-zoom-effect:hover .icon i {
      opacity: 0.4;
      -moz-transform: rotate(-32deg) scale(1.4);
      -ms-transform: rotate(-32deg) scale(1.4);
      -o-transform: rotate(-32deg) scale(1.4);
      -webkit-transform: rotate(-32deg) scale(1.4);
      transform: rotate(-32deg) scale(1.4); }

    .info-box.hover-expand-effect:after {
      background-color: rgba(0, 0, 0, 0.05);
      content: ".";
      position: absolute;
      left: 80px;
      top: 0;
      width: 0;
      height: 100%;
      color: transparent;
      -moz-transition: all 0.95s;
      -o-transition: all 0.95s;
      -webkit-transition: all 0.95s;
      transition: all 0.95s; }

    .info-box.hover-expand-effect:hover:after {
      width: 100%; }

    
