/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a, nav {
  color: #444;
  background-color: #fff;
  height: 90px;
}

p {
  line-height: 2rem;
}

.jeedomcolorbg {
  background-color: #40535E !important;
}

.jeedomcolor {
  color: #40535E !important;
}
.collection a.collection-item {
  color: #40535E !important;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.1;
}
.waves-effect.waves-jeedom .waves-ripple {
 background-color: rgba(64, 83, 94, 0.65);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
#ul_listPluginThird, #ul_listWiki, #ul_listChat{
  background-color: #eeeeee !important;
}
.tabs .tab a {
  color: #40535E !important;
}
.tabs .indicator {
  background-color: #40535E !important;
}

.tabs .tab a:hover {
  color: #B0C3CE !important;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.card-title {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
 }

.card-text {
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
	height: 30px;
    line-height: 30px;
    padding: 0 0.5rem;	
}

.titre{
line-height: 90px;
padding-left: 90px;
font-size: 18px;
}
