<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/materialize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Language" content="pt-br">

    <link rel="icon" href="favicon.ico"/>
    <title>NextDom</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!--Import materialize.css-->

    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
          media="screen,projection"/>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.2.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <style>
        .page-footer{
            background-color:#454449 !important;
            position:fixed !important;
            bottom:0 !important;
            left:0 !important;
            width:100% !important;
            height:50px;
            padding-top: 1px !important;
            z-index:2;
        }
    </style>
    <script type="text/javascript">
    function includeHTML() {
        var z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("w3-include-html");
            if (file) {
                /*make an HTTP request using the attribute value as the file name:*/
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            elmnt.innerHTML = this.responseText;
                        }
                        if (this.status == 404) {
                            elmnt.innerHTML = "Page not found.";
                        }
                        /*remove the attribute, and call this function once more:*/
                        elmnt.removeAttribute("w3-include-html");
                        includeHTML();
                    }
                }
                xhttp.open("GET", file, true);
                xhttp.send();
                /*exit the function:*/
                return;
            }
        }
    };
</script>
    <script type="text/javascript" src="../assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.inview.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.toc.js"></script>
</head>

<body>

<div w3-include-html="../header.html"></div>
<div w3-include-html="../doc-content.html"></div>
<div w3-include-html="../footer.html"></div>

<script type="text/javascript">
    includeHTML();
    $(document).onload(function () {
        var title = 'zwave';
        title = title.replace('plugin-', '');
        $('#doc_title').append(title[0].toUpperCase() + title.substring(1))
        document.title = 'Documentation Jeedom | ' + title[0].toUpperCase() + title.substring(1)
        $(".button-collapse").sideNav();
        $('meta[name=description]').remove();
        $('head').append('<meta name="description" content="Ceci est la documentation du plugin "' + title[0].toUpperCase() + title.substring(1) + '", lier à la solution domotique Jeedom.">');
        $('img').addClass('responsive-img');
        $('#div_content table').addClass('striped');
        init();
        var regex = /\/([a-z]{2}_[A-Z]{2})\//g;
        var corresp = regex.exec(window.location.href)
        if (corresp !== null && corresp[1]) {
            $('.sel_lang').val(corresp[1])
        }
        $('select').material_select();
        $('.sel_lang').on('change', function () {
            var regex = /\/([a-z]{2}_[A-Z]{2})\//g;
            var corresp = regex.exec(window.location.href);
            var url = window.location.href.replace(corresp[1], $(this).find('option:selected').attr('value'));
            if (url.endsWith('/')) {
                url += 'index';
            }
            window.location.href = url;
        })
        $('#bt_up').on('click', function () {
            window.scrollTo(0, 0);
        })
        $(window).on("orientationchange", function (event) {
            init();
        });
        $(window).on("resize", function (event) {
            init();
        });

        function init() {
            $('#div_summary2,#div_summary').empty();
            var titlePlugin = title.charAt(0).toUpperCase() + title.substring(1).toLowerCase()
            if (window.innerWidth < 992) {
                $('#div_main').addClass('container');
                $('#div_content').toc({
                    renderIn: "#div_summary2",
                    selectors: 'h1,h2'
                });
            } else {
                $('#div_main').removeClass('container');
                $('#div_content').toc({
                    renderIn: "#div_summary",
                    selectors: 'h1,h2'
                });
            }
            $('#toctitle').html('<h2 style="padding-left:5px !important;">' + titlePlugin + '</h2>');
            $('.toclevel-2').parent().css('color', 'blue');
        }

        var i = 1, j = 1;
        $('h1, h2', $('#div_content')).each(function () {
            if ($(this)[0].tagName.toLowerCase() == 'h1') {
                $('#' + $(this).attr('id')).text(i + ') ' + $(this).text());
                i++;
            }
            if ($(this)[0].tagName.toLowerCase() == 'h2') {
                $('#' + $(this).attr('id')).text((i - 1) + '.' + j + ') ' + $(this).text());
                j++;
            } else {
                j = 1;
            }
        });
    });

    var idChapitre = null, nbrChapitre = 0, idAncre = null;
    $('#div_content h1, #div_content h2').on('inview', function (event, isInView) {
        nbrChapitre = $('a.active').length;
        idAncre = $(this).attr('id');
        if (isInView) {
            $('a[href="#' + idAncre + '"]').addClass('active');
            if (idChapitre != null) {
                $('a[href="#' + idChapitre + '"]').removeClass('active');
                idChapitre = null;
            }
        } else if (nbrChapitre > 1) {
            $('a[href="#' + idAncre + '"]').removeClass('active');
        } else {
            idChapitre = idAncre;
        }
    });
</script>

</body>
</html>
